<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Psihi" connectionString="Server=.\SQLEXPRESS;Database=Psihi;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" /><add name="PsihiEntities" connectionString="metadata=res://*/DB.Psihi.csdl|res://*/DB.Psihi.ssdl|res://*/DB.Psihi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4UBD3C1\SQLEXPRESS;initial catalog=Psihi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>